button {
    padding: 8px 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#media {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#videoContainer {
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: black;
}

#dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the dot */
}


.view1 #video1 {
    width: 50vw;
    height: 80vh; 
    left: 0;
    position: absolute;
    object-fit: contain;

}

.view1 #video2 {
    width: 50vw;
    height: 80vh; 
    right: 0;
    position: absolute;
    object-fit: contain;

}

.view2 #video1 {
    width: 20vw; 
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;
    object-fit: contain;
    z-index: 1;  /* this ensures that video1 is on top */
}

.view2 #video2 {
    width: 100vw;
    height: 80vh;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: contain;

}

.view3 #video1 {
    width: 100vw;
    height: 80vh;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: contain;

}

.view3 #video2 {
    width: 20vw; 
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;
    object-fit: contain;
}

.data-output {
    position: relative;
    width: 100vw;
    height: 20vh;
    background-color: white;
    padding: 1em;
    font-family: monospace;
    overflow-y: auto;  /* For scrolling if data is too much */
}

.status-bar {
    width: 10vw;
    height: 5vh;
    background-color: yellow;
    padding: 1em;
    font-family: monospace;
    left: 90vw;
    bottom: 0;
    position: absolute;
    object-fit: contain;
}
